* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(154, 205, 237);
    font-family: arial;
}

#loadingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px none;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
