<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{= title}} | made with ♥ by Mipolai</title>
    {{include: 'templates/headcss.template'}}
  </head>

  <body>
    {{include: 'templates/header.template'}}
    <main>
      <div class='container'>
      <article><div class='apps-intro'>{{= html}}</div></article>
      <div class='cards'>

	{{ -- write regular lua code in the template}}
	{{for _,post in ipairs(apps) do}}
	<div class='card'>
	  <a href={{= post.path}}>
	    <div class='card_content'>

	      <div class='cardimg_container'>
		<img class="cardimg" src={{= post.frontmatter.thumb}}>
	      </div>
	       <b>{{= post.title}}</b>
	      <p>{{= post.frontmatter.intro}}</p>


	    </div>
	  </a>
	</div>
	{{end}}

      </div>
      </div>
    </main>
    {{include: 'templates/footer.template'}}

  </body>
</html>
