<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{= title}} | made with ♥ by Mipolai</title>
    {{include: 'templates/headcss.template'}}
  </head>

  <body>
    {{include: 'templates/header.template'}}
    <main>
      <div class='{{= firstPathPart}} container'>
	<article>
          <div class='intro'>{{= html}}</div>
        </article>
	<div class='posts'>
          
	  {{ -- write regular lua code in the template}}
	  {{for _,post in ipairs(posts) do}}
	  <div class='post'>
	    <a href={{= post.path}}>
	      <div class='content'>
		  {{if post.frontmatter.thumb then}}
		<div class='picture_container'>
		  <img class="picture"  src={{= post.frontmatter.thumb}}>
		</div>
		{{end}}

		{{if post.frontmatter.webm then}}
		<video autoplay loop muted playsinline>
  <source src={{= post.frontmatter.webm}} type="video/webm">

</video>
{{end}}

		{{if post.frontmatter.date then}}
                <div class='date'>{{= post.frontmatter.date}}</div>
		{{end}}
		<b>{{= post.title}}</b>
		<p>{{= post.frontmatter.intro}}</p>
	      </div>
	    </a>
	  </div>
	  {{end}}

	</div>
      </div>
    </main>

    {{include: 'templates/footer.template'}}

  </body>
</html>
