<header>
       

	<h1>
		<a href="/"> <img alt="a random shape called blub" src="/assets/images/blup.svg" />Mipolai</a>
	</h1>
	<nav>
		<a href="/apps">apps</a>
		<a href="/about">about</a>
		<!-- <a href="storytime">storytime</a> -->
	</nav>
</header>